.main-color {
    background-color: #FCEED8;
}

.main-font-color {
    color: #FEFFFF;
}

.hovered-card {
    transition: 0.5s;
}

.hovered-card:hover {
    transform: scale(1.1);
}

.second-font-color {
    color: #d88e35;
}

/* Bagian Main Table */
.img-table {
    width: 125px;
}

.table-rows {
    vertical-align: middle;
}

.checkout-btn {
    padding: 8px 20px;
    border: 1px solid rgba(0, 0, 0, 0.021);
    background-color: #D88E35;
}