.main-color {
    background-color: #FCEED8;
}

.main-font-color {
    color: #FEFFFF;
}

.second-font-color {
    color: #d88e35;
}

.third-font-color {
    color: #d06550;
}

/* Bagian Main */
/* Bagian Banner Main */
.banner {
    height: 650px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://th.bing.com/th/id/R.5728a97f2137655ecc4ce86293b8479a?rik=iWhaL%2b5IWCf%2fRA&riu=http%3a%2f%2fwww.puzzlemobi.com%2fthanksgiving%2fimages%2fpuzzle%2fcafe-latte-and-cake.jpg&ehk=m7CA69cs4qwaG0UBu5Cui7I01RBAuRzH30EWEYPU5D0%3d&risl=&pid=ImgRaw&r=0);
    background-position: center;
    background-size: cover;
}

.p-title {
    font-size: 25px;
}

/* Bagian All Product */
.card-modal {
    width: 105%;
    margin-bottom: 15px;
}

.card-modal img {
    height: 270px;
    cursor: pointer;
}

.btn-product {
    border: 1px solid #d88e35;
    background-color: transparent;
    color: #d88e35;
    width: 100%;
}

.btn-product:hover {
    background-color: #d88e35;
    color: white;
}
/* Bagian Modal */
.back-modal {
    background-color: rgba(0, 0, 0, 0.8);
}
.modal-custom-content {
    background-color: transparent ;
    border: none;
}

.btn-modal {
    background-color: white;
}
.modal-body img {
    width: 100%;
    border-radius: 5px;
}

/* Bagian Pagination */
.pagination a:hover {
    color:#d06550;
}

/* Bagian Footer */
.contact-bgColor {
    background-color: #d06550;
    /* background-color:  #D88E35; */
}

.contact-icon {
    font-size: 24px;
}

.contact-footer {
    background-color: #D88E35;
}

.footer-bgColor {
    background-color:  #D88E35;
}

/* Bagian Responsive */
@media screen and (max-width: 1200px) {
    /* Bagian All Product */
    .card-modal {
        width: 108%;
    }
    .card-modal img {
        height: 250px;
    }
}

@media screen and (max-width: 992px) {
    /* Bagian All Product */
    .card-modal img {
        height: 230px;
    }

    .card-body h4 {
        font-size: 20px;
    }
}

@media screen and (max-width: 820px) {
    /* Bagian All Product */
    .card-modal {
        width: 105%;
        height: auto;
        margin-bottom: 15px;
    }
} 

@media screen and (max-width: 768px) {
    /* Bagian Nav */
    .navbar-nav {
        margin: 0 10px;
    }

    /* Bagian Banner */
    .p-title {
        font-size: 22px;
    }

    /* Bagian All Product */
    .product-title {
        margin: 15px 0;
    }
    .card-modal {
        width: 103%;
    }

    .card-modal img {
        height: 250px;
    }
}

@media screen and (max-width: 650px) {
    /* Bagian All Product */
    .card-modal {
        width: 100%;
    }
}

/* Untuk Smartphone */
@media screen and (max-width: 576px) {
    .banner {
        height: 840px;
    }

    .h1-title {
        font-size: 60px;
    }

    /* Bagian All Product */
    .title-category, .product-title {
        font-size: 28px;
    }

    .row-product h5, .row-product h4 {
        font-size: 25px;
    }

    .row-product p {
        font-size: 18px;
    }

    .card-modal {
        width: 100%;
    }

    .card-modal img {
        height: auto;
    }

    /* Bagian Footer */
    .footer-bgColor label {
        font-size: 15px;
    }
}

@media screen and (max-width: 450px) {
    .banner {
        height: 830px;
    }

    .h1-title {
        font-size: 53px;
    }

    /* Bagian All Product */
    .title-category, .product-title {
        font-size: 26px;
    }

    .row-product h5, .row-product h4 {
        font-size: 23px;
    }

    .row-product p {
        font-size: 16px;
    }
}

/* Untuk Layar hp seperti Redmi note 8 */
@media screen and (max-width: 400px) {
    .h1-title {
        font-size: 45px;
    }

    .p-title {
        font-size: 18px;
    }

    /* Bagian All Product */
    .title-category, .product-title {
        font-size: 25px;
    }

    /* Bagian Footer */
    .footer-bgColor label {
        font-size: 13px;
    }
}

@media screen and (max-width: 350px) {
    .banner {
        height: 750px;
    }

    .h1-title {
        font-size: 38px;
    }

    .p-title {
        font-size: 16px;
    }

    /* Bagian All Product */
    .title-category, .product-title {
        font-size: 23px;
    }

    .row-product h5, .row-product h4 {
        font-size: 21px;
    }

    .row-product p {
        font-size: 15px;
    }

    /* Bagian Footer */
    .footer-bgColor label {
        font-size: 11px;
    }
}

@media screen and (max-width: 300px) {
    .banner {
        height: 700px;
    }

    .h1-title {
        font-size: 30px;
    }

    .p-title {
        font-size: 15px;
    }

    /* Bagian Footer */
    .footer-bgColor label {
        font-size: 9px;
    }
}